<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beautifulsoup.shiro.ssmdemo.mapper.ShiroDemoMapper">
	<select id="findByUsername" parameterType="string" resultType="user">
		select user.uid,user.username,user.password,user.phone,user.address,user.salt from user where user.username = #{username}
	</select>
</mapper>